body
{
    background-color:brown ;
}
.meu_menu
{
    background-color: #fff;
}
.meu_menu ul,li
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.meu_menu li
{
    display: inline;
}

.container
{
    width: 70%;
    float: left;
    border: none;
}
sidebar
{
    width: 30%;
    float: left;
    border: none;
}

.widget_title
{
    color:blue;
}